# Frontend overrides
frontend/node_modules/
frontend/dist/
frontend/dist-ssr/
frontend/*.log
frontend/npm-debug.log*
frontend/yarn-debug.log*
frontend/yarn-error.log*
frontend/pnpm-debug.log*
frontend/lerna-debug.log*

# Backend overrides
backend/__pycache__/
backend/*.pyc
backend/venv/
backend/env/
backend/.env
backend/database.db
backend/instance/
backend/uploads/*
!backend/uploads/.gitkeep

# IDEs/Editors
.vscode/
.idea/
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
